.modal-side{
    right: 0;
    max-width: 250px;
    top: 36px;
    min-height: 100vh;
    position: absolute;
}

.modal_header{
    display: flex;
    background: white;
    align-items: center;
}
.modal_header p{
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.modal-header img {
    max-width: 60%;
    padding-left: 40px;
}

.links p{
    font-family: Arial;
    font-size: 15px;
    margin-top: 60px;
    text-align: center;
}
.links p:hover{
    text-decoration: underline;
    color: darkviolet;
}
.cart{
    text-align: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 1;
    display: inline-flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.cart h5:hover{
    color: white;
}
.cart h5{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}
.cart:hover{
    background-color: darkviolet;
    color: white;
}
.anticon-shopping-cart{
    font-size: 26px;
}
