@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap');


.app_footer .container{
    padding-right: 5%;
    padding-left: 5%;
}
.app_footer p:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(177, 13, 177);
}

.app_footer .row{
    display: flex;
    padding-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer_copyright{
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
}
form {
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
 form input{
    margin-right: 20px;
    border: 1px solid rgb(182, 182, 182);
    padding-left: 15px;
    padding-top: 2px;
    margin-left: 12px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
} 
form button.btn{
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    background: transparent;
    border: 1px solid rgb(133, 133, 133);
    padding-top: 5px;
    cursor: pointer;
    color: rgb(95, 95, 95);
    width: 75%;
    margin-left: -6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 4px;
}
form button.btn:hover{
    background: darkviolet;
    color: white;
}
.app_footer img{
    width: 150px;margin-bottom: 40px;
    margin-right: 30px;
}

@media screen and (max-width: 768px){

    form{
        margin-left: 100px;
    }
    
}
@media screen and (min-width: 375px){
    form input{
        min-width: 70%;
    }
    form{
        margin-left: 50px;
    }
}
.footer_copyright h5{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}
.footer_copyright h5 a{
    color: rgb(37, 37, 37);
    font-weight: 500;
    text-decoration: none;
}
.footer_copyright h5 a:hover{
    text-decoration: underline;
    color: darkviolet;
}
.app_footer p{
    text-align: center;
    font-size: 14px;
    color: black;
}
.app_footer{
    background-color: rgb(248, 248, 248);
    position: relative;
    left: 0;
    bottom: -1px;
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgray;
}