@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

.app{
  background-color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  height: 100vh;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-x: hidden;
}
.hero{
  padding-left: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  max-width: 600px;
  justify-content: center;
  padding-right: 30px;
  padding-bottom: 30px;
}
.hero h1{
  font-family: 'Tajawal', sans-serif;
  font-size:  30px;
  margin-top: 40px;
  color: darkviolet;
  cursor: pointer;
  font-weight: 500;
  margin-left: 30px;
}
.hero .button{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.hero .button button.btn:focus{
  box-shadow: 0px 0px 4px -2px darkviolet;
}
.hero .button button.btn:hover{
  background-color: transparent;
  color: darkviolet;
  transition: 0.4s ease all;
  transform: translateX(-5%);
}
.hero .button button.btn{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: darkviolet;
    border: 1px solid darkviolet;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
    padding-right: 25px;

}

.hero img {
  max-width: 400px;
}

@media screen and (max-width: 320px){

}

@media screen and (max-width: 414px){

}

@media screen and (max-width: 768px){
 
}
